html {
	position: relative;
	}

header {
	background: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	z-index: 1;
	margin-bottom: 20px;
	border-bottom: 2px solid #cccccc;
}

body {
	color: #777777;	
	min-height: 800px;
	background-image: url(../images/ep_naturalwhite.png);
}

.clearfix {
	clear: both;
	content: ".";
	display: block;
	line-height: 0;
	border-style: solid;
	border-color: #cccccc;
	border-width: 0px 0px 2px 0px;
}

#surowski {
	color: white;
	background: #4aaaa5;
	font-weight: bold;
	font-family: Georgia;
	font-size: 30px;
	padding: 40px 15px 25px 15px;
	width: 240px;
	height: 15px;
	float: left;
	position: fixed;
	left: 80px;
	z-index: 2;	
}

#menu {
	list-style-type: none;
	margin: 0;
	vertical-align: middle;
	position: fixed;
	right: 40px;	
	padding: 40px 10px 34px 10px;
	background: #ffffff;
	z-index: 2;
}

#menu li {
	display: inline;
	font-size: 16px;
	font-family: Arial;
	color: #d3d3d3;
}

#menu a {
	text-decoration: none;
}

#menu a:link {
	color: #777777;
}

#menu a:visited {
	color: gray; 
}

#menu a:hover {
	color: #4aaaa5;
}

#menu a:active {
	color: gray;
	font-weight: bold;
}

#left-home {
	clear: both;
	background: #ffffff;
	margin: 40px 20px 20px 20px;
	padding: 20px;
	position: absolute;
	top: 80px;
	left: 60px;
	width: 40%;
	font-size: 18px;
	border: solid #dddddd 1px;
}

#left-home h1 {
	font-size: 25px;
	font-weight: bold;
	color: #4aaaa5;
	font-family: Georgia;
}

#profile-pic {
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 15px;
}

#left-home p {
	margin-bottom: 10px;
}

#right {
	background: #ffffff;
	padding: 20px;
	width: 20%;
	position: absolute;
	top: 100px;
	left: 60%;
	margin: 20px 20px 20px 20px;
	border: solid #dddddd 1px;
}

#right h2 {
	font-size: 18px;
	font-weight: bold;
	color: #4aaaa5;
	font-family: Georgia;
	margin-bottom: 15px;
	text-align: center;
}

#right .fa {
	color: #777777;
	background: white;
	font-size: 40px;
	margin: 3px;
	padding: 2px;
	height: 40px;
	width: 40px;
	border-radius: 25px;
}

#right .fa:hover {
	background: #4aaaa5;
}

#right p {
	text-align: center;
}

footer {
	clear: both;
	background: #666666;
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: solid #4aaaa5 3px;
}

footer p {
	text-align: center;
	font-size: 12px;
	padding-top: 25px;
	color: #999;
}	

/* The following styles the portfolio page. */

#left-portfolio {
	clear: both;
	background: #ffffff;
	margin: 40px 20px 20px 20px;
	padding: 20px;
	position: absolute;
	top: 80px;
	left: 60px;
	width: 40%;
	font-size: 18px;
	border: solid #dddddd 1px
}

#left-portfolio h1 {
	font-size: 25px;
	font-weight: bold;
	color: #4aaaa5;
	font-family: Georgia;
}

#image-1, #image-2, #image-3, #image-4, #image-5 {
	height: 100px;
	width: 125px;
	float: left;
	margin: 5px 5px 10px 5px;
}

#image-1 {
	background-image: url("http://lorempixel.com/output/abstract-q-c-200-200-1.jpg");
}

#image-2 {
	background-image: url("http://lorempixel.com/output/abstract-q-c-200-200-2.jpg");
}

#image-3 {
	background-image: url("http://lorempixel.com/output/abstract-q-c-200-200-3.jpg");
}

#image-4 {
	background-image: url("http://lorempixel.com/output/abstract-q-c-200-200-4.jpg");
}

#image-5 {
	background-image: url("http://lorempixel.com/output/abstract-q-c-200-200-5.jpg");
}

#image-1 h3, #image-2 h3, #image-3 h3, #image-4 h3, #image-5 h3 {
	font-size: 14px;
	color: white;
	text-align: center;
	background: #4aaaa5;
	position: relative;
	top: 65px;
	padding: 5px;
}

#image-1:hover, #image-2:hover, #image-3:hover, #image-4:hover, #image-5:hover {
	filter: grayscale(.6);
}

/* The following lines style the contact page. */

#left-contact h1 {
	font-size: 25px;
	font-weight: bold;
	color: #4aaaa5;
	font-family: Georgia;
}

#left-contact {
	clear: both;
	background: #ffffff;
	margin: 40px 20px 20px 20px;
	padding: 20px;
	position: absolute;
	top: 80px;
	left: 60px;
	width: 40%;
	font-size: 18px;
	border: solid #dddddd 1px
}

#left-contact p {
	font-family: Arial;
	padding: 3px 0px 3px 0px;
	font-size: 14px;
}

input {
	padding: 5px;
}